
/*Declaración colores*/
:root {
    --primario: #9C27B0;
    --secundario:#89119D;
    --letras: #FFCE00;
    --letrasOscuro: rgb(233,287,2);
    --blanco: #fff;
    --fuente: 'Staatliches', cursive;
}

/*Declaración globales*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fuente);
}


img {
    max-width: 100%;
}

.main {
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--letras);
    font-family: var(--fuente);
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}
/* Código BEM */

.header {
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.header__logo {
    height: 10rem;
}

.nav {
    width: 100%;
    background-color: var(--secundario);
    height: 5rem;
}

.nav__ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav__ul-li {
    margin: 0.5rem;
    padding: 0.2rem;
}

.nav__ul-a {
    font-size: 3rem;
    color: var(--blanco);
}
.nav__enlace-activo {
    color: var(--letras);
}
.nav__ul-li a:hover {
    color: var(--letras);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width: 70rem) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
.grid__info {
    width: 100%;
    height: 40rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
}
@media (min-width: 70rem) {
    .grid__info {
        margin-right: .5rem;
        grid-column: 1/2;
        grid-row: 1;
    }
}
.grid__img {
    width: 100%;
    height: 40rem;
    background-image: url(../img/nosotros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 70rem) {
    .grid__img {
        grid-column: 2/3;
        grid-row: 1;
        margin-right: .5rem;
    }
}
.h2-div {
    position: relative;
    margin-top: 12rem;
}
.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 70rem) {
    .grid2 {
        grid-template-columns: repeat(4, 1fr);
    }
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: .5rem;
}
.grid2__img1 {
    margin-bottom: 6rem;
    margin-top: 6rem;
}


.footer {
    background-color: var(--secundario);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 0.5rem;
}

.footer__p {
    font-family: var(--fuente);
    font-size: 2rem;
}